:root {
    --clr_main: #2C3E50;
    --bg_main: #1ABC9C;
    --bg_location: #3A546D;

}


header {
    background-color: var(--clr_main);
    color: white;
    padding: 1.5rem 0;
    min-width: 290px;
    overflow: hidden;
}

.title {
    white-space: nowrap;
}

header .menu {
    white-space: nowrap;
}

section.hero {
    background-color: var(--bg_main);
    color: white;
    /* padding: 1rem 0; */
}

section.hero .avatar {
    max-width: 300px;
}

section.portfolio img {
    max-width: 100%;
    object-fit: cover;
}

section.about {
     background-color: var(--bg_main);
     color: white;
}

section.contact p {
    border-bottom: 1px solid black;
}

section.contact p.space {
    padding-bottom: 10rem;
}