:root {
    --clr_main: #2C3E50;
    --bg_main: #1ABC9C;
    --bg_address: #3A546D;
}

.separator.light {
    --color: white;
}

.separator.dark {
    --color: var(--clr_main);
}

.separator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-inline: auto;
    color: var(--color);
    font-size: 20px;
}

.separator::before,
.separator::after {
    content: "";
    flex-grow: 1;
    display: block;
    height: 3px;
    background-color: var(--color);
    border-radius: 5px;
}

header {
    background-color: var(--clr_main);
    color: white;
    min-width: 290px;
    overflow: hidden;
}

header nav {
    background-color: var(--clr_main);
    color: white;
}

.title {
    white-space: nowrap;
}

section.hero {
    background-color: var(--bg_main);
    color: white;
}

section.hero .avatar {
    max-width: 300px;
}

section#portfolio img {
    max-width: 100%;
    object-fit: cover;
}

section#portfolio .overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    transition: opacity 300ms;
    /* per centrare l'overlay */
    position: absolute;
    top: 0;
    left: 0;
}

section#portfolio .parent:hover .overlay {
    opacity: 1;
}


section#about {
    background-color: var(--bg_main);
    color: white;
}

section#contact p {
    border-bottom: 1px solid black;
}

section#contact p.space {
    padding-bottom: 10rem;
}

section.address {
    background-color: var(--bg_address);
    color: white;
}

section.address .social {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
}

section.address .social i {
    line-height: 3rem;
}

section.address .social:not(:last-child) {
    margin-right: 1rem;
}

section.address .accent {
    color: var(--bg_main);
}

footer {
    background-color: var(--clr_main);
    color: white;
}
