:root {
    --clr_main: #2C3E50;
    --bg_main: #1ABC9C;
    --bg_address: #3A546D;
}

header {
    background-color: var(--clr_main);
    color: white;
    min-width: 290px;
    overflow: hidden;
}

header nav {
    background-color: var(--clr_main);
    color: white;
}

.title {
    white-space: nowrap;
}

section.hero {
    background-color: var(--bg_main);
    color: white;
}

section.hero .avatar {
    max-width: 300px;
}

section#portfolio img {
    max-width: 100%;
    object-fit: cover;
}

section#portfolio .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: opacity 300ms;
}

section#portfolio .parent:hover .overlay {
    opacity: 1;
}


section#about {
    background-color: var(--bg_main);
    color: white;
}

section#contact p {
    border-bottom: 1px solid black;
}

section#contact p.space {
    padding-bottom: 10rem;
}

section.address {
    background-color: var(--bg_address);
    color: white;
}

section.address .social {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
}

section.address .social i {
    line-height: 3rem;
}

section.address .social:not(:last-child) {
    margin-right: 1rem;
}

section.address .accent {
    color: var(--bg_main);
}

footer {
    background-color: var(--clr_main);
    color: white;
}